body{
  margin: 0 auto;
  width:960px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 80px;
  text-decoration: none;
}


.active {
  font-weight: bold;
}


.logo{
  margin:0 auto;
  padding-top: 30px;
  width:20%;
  height:20%;
}

#photoHome {
  padding-top: 40px;
}